body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 100PX;
    background-color: slategray;
}

header {
    background: lightblue;
    color: blueviolet;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

h2 {
  font-family: "helvetica,sans-serif";
  font-size: 24px;
  color: blue;
}

.profile-image {
  border-radius: 50%;
}

nav {
    background-color: lightblue;
    color: #fff;
    padding: 15px ;
    position: fixed;
    top: 0;
    width: 80%;
    z-index: 10;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background: lightblue;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: darkgray;
    color: blueviolet;
    position: relative;
    bottom: 0;
    width: 100%;
}
